* {
    font-family: sans-serif;
}

.foot {
    background-blend-mode: overlay;
    background-image: url("picture-texture.jpg"), linear-gradient(180deg, #474ab6 0%, #9271f6 100%);
    padding-left: 115px;
    color: white;
    text-align: center;
    height: 500px;
    padding-top: 96px;
    padding-right: 151px;

}

.left {
    width: 50%;
    margin-top: -312px;
    background-color: white;
    margin-left: 119px;
}

.right {
    width: 50%;
    margin-top: -334px;
    margin-left: -139px;
}

.fet {
    background: white;
    height: 500px;
    padding: 50px"
 style="box-shadow: 5px 10px;background:; height:500px;margin-top: 100px"
}

.fer {
    background-color: white;
    box-shadow: 5px;
    display: flex;
}

.fre {
    color: #9271f6;
    padding-left: 90px;
}

input {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    color: #a9aaff;
}

.cd {

    padding-top: 20px;
    padding-right: 399px;
    padding-bottom: 114px
}

.v {
    background-color: #9271f6;
    color: white;
    padding: 15px 30px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
    text-align: right;
}

.cost {
    background-color: #09e1c0;
    color: white;
    padding-bottom: 380px;
    margin-left: 139px;
    margin-right: 139px;
    padding-left: 20px;
}

.bg {
    margin-top: 10px;
}

.vilet {
    padding-bottom: 50px;
}

.main {
    color: #9271f6;
    text-align: center;
    margin-top: 100px;
}

.par {
    color: #8585bd;
}



.vd {
    margin: auto;
    border-bottom: 2px solid #09e1c0;
    width: 44px;
}

.select {
    display: flex;
}

.menu-left {
    width: 33%;
    margin-right: 52px;

}

.menu-middle {
    width: 33%;
    margin-left: 30px;
    margin-right: 52px;
}

.menu-right {
    width: 33%;
    margin-left: 30px;
    margin-right: 52px;

}

.para1 {
    background-color: #09e1c0;
    width: 61px;
    font-size: 40px;
    border-radius: 54%;
    margin-left: 34px;
    height: 43px;
    color: white;
}

.re {
    display: flex;
}

p {
    color: #8585bd;
}

.part {
    color: black;
}